.nav-bar {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-bar ul li a,
.nav-bar ul li a:after,
.nav-bar ul li a:before,
.icon-bar a,
.icon-bar a:before,
.icon-bar a:after {
	transition: all 0.5s;
}

.nav-bar ul li a {
	position: relative;
}
.nav-bar ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 0%;
	content: '.';
	color: transparent;
	background: #8d1bd4;
	height: 3px;
}
.nav-bar ul li a:hover:after {
	width: 100%;
}

.nav-item.active {
	/* list-style-type: square; */
}

.nav-item.active a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	bottom: -10px;
	width: 100%;
	content: '.';
	color: transparent;
	background: #8d1bd4;
	height: 3px;
}

.social {
	text-align: center;
	position: relative;
}

.icon-bar {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon-bar a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	bottom: 10px;
	width: 0%;
	content: '.';
	color: transparent;
	background: #8d1bd4;
	height: 3px;
	margin: auto;
}
.icon-bar a:hover:after {
	width: 75%;
}

.svg-blob {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-10%, -50%);
	filter: drop-shadow(2px 1px 10px #4444dd);
}
/* Style the icon bar links */
.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	font-size: 2.5em;
	filter: drop-shadow(2px 1px 2px #4444dd);
}

.svg-about {
	/* position: absolute;
	margin: auto;
	top: -10vh;
	left: 5%; */
	transform: scaleX(1.6) rotate(-35deg);
	z-index: 0;
}

.wrapper {
}

.info-box {
	/* position: absolute;
	margin: auto;
	top: 16vh; */
}
